<html>
<head>
	<title>mkopo loans</title>
	<!-- Le meta -->
<meta charset="utf-8">
<title>mkopo</title>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->
<meta name="viewport" content="width=1280, initial-scale=0.25, maximum-scale=10.0" />
<link rel="shortcut icon" href="http://www.mkopo.com:5000/static/images/mkopo.ico">

<!-- Le styles -->

<link rel="stylesheet" type="text/css" href="http://dxci0yg4w9jaq.cloudfront.net/static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="http://dxci0yg4w9jaq.cloudfront.net/static/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" href="http://dxci0yg4w9jaq.cloudfront.net/static/css/flat-ui.css"/>
<link rel="stylesheet" href="http://dxci0yg4w9jaq.cloudfront.net/static/css/flat-ui-demo.css"/>
<link rel="stylesheet" href="http://dxci0yg4w9jaq.cloudfront.net/static/css/font-awesome.css"/>
<link rel="stylesheet" href="http://dxci0yg4w9jaq.cloudfront.net/static/css/index.css"/>

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<!-- SCRIPTS -->
<script type='text/javascript' src="http://dxci0yg4w9jaq.cloudfront.net/static/js/jquery-1.7.2.min.js"></script>

	<style type="text/css">
		#preview-content { width: 100%; height: 100%; }
		#preview-content .row-fluid.iphone { background: url('http://dxci0yg4w9jaq.cloudfront.net/static/img/iphone5-black-frame.png') no-repeat #FFF 0px 0px; margin: 20px auto; width: 381px; height: 732px;   }
		#preview-window { float: left; width: 100%; height: 100%; border:none; margin:0px; padding:0px; }
		#preview-window.iphone { background-color: #FFF; margin: 149px auto 0px 28px; width: 320px; height: 460px; float: none; }
	</style>
</head>
<body>

	<div id="preview-content">
	    <div class="row-fluid iphone">
			<iframe id="preview-window" class="span12 iphone" src="http://www.mkopo.com:5000"></iframe>
		</div>
	</div>
</body>
</html>
