<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
{% set page_name = 'Overview' %}
{% include 'menu.html' %}
{% include 'sidenav.html' %}

    <div class="span10">
<!--         <div class="alert alert-success">
            <button type="button" class="close fui-cross" data-dismiss="alert"></button>
            <h5>Successfully added to group</h5>

          </div> -->


    {% if session.logged_in %}

            <p>Hello {{ name }},</p>
            <p style="clear:both">
                You have a total of <span class="text-primary">200$</span> in loan, of which <span class="text-primary">100$</span> are due in <span class="text-danger">6</span> days.
                <br>
                <a href="loans" class="btn btn-primary pull-right">Loan Overview</a>
            </p><br />
            <p style="clear:both">
                You have <span class="text-primary">3</span> pending loan requests.
                <br>
                <a href="/requests" class="btn btn-primary pull-right">See Requests</a>
            </p><br />
            <p style="clear:both">
                Based on your current quota you can loan up to <span class="text-primary">440$</span>.
                <br>
                <a href="/create" class="btn btn-primary pull-right">Create loan Request</a>
            </p>


<!--         {% for user in all_users %}
            <img src="https://graph.facebook.com/{{ user.facebook_id }}/picture" style="float: left; padding-right: 12px" /><h5>{{ user.name }}</h5>
            <h6>wants to borrow ${{ user.loan_amount}}</h6>
              <button name="submit" value="submit" class="btn btn-primary btn-wide mll">
                <i class="fui-arrow-right"></i>
                    Add to group
                </button>
        {% endfor %} -->
    {% else %}
        <h5>Please register by clicking below</h5>
        <a href="/facebook_login" class="btn btn-small btn-social-facebook">
                            <i class="fui-facebook"></i>
                            Connect with Facebook
                        </a>
    {% endif %}
    <br /><br /><br />



    </div>


    </div>
  </div>
</div>



{% include 'footer.html' %}
  </body>
</html>
