<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
{% set page_name = 'Loans' %}
{% include 'menu.html' %}
{% include 'sidenav.html' %}

<div class="container-fluid" style="min-height: 400px">
  <div class="row-fluid">
    <div class="span10">

    <div class="container" style="min-height: 360px">

            {% if session.logged_in %}

            <p>Hello {{ name }},</p>
            <p style="clear:both">
                You have a total of <span class="text-primary">200$</span> in loan, of which <span class="text-primary">100$</span> are due in <span class="text-danger">6</span> days.
                <br>
                <a href="loans" class="btn btn-primary">Loan Overview</a>
            </p><br />
            <p style="clear:both">
                You have <span class="text-primary">3</span> pending loan requests.
                <br>
                <a href="/requests" class="btn btn-primary">See Requests</a>
            </p><br />
            <p style="clear:both">
                Based on your current quota you can loan up to <span class="text-primary">440$</span>.
                <br>
                <a href="/create" class="btn btn-primary">Create Loan Request</a>
            </p>
            <div style="clear:both" ></div>
<br /><br />
            <h4>Friends Needing Loans</h4>
        {% for user in all_users %}
            <img src="https://graph.facebook.com/{{ user.facebook_id }}/picture" style="float: left; padding-right: 12px" />
            <p>{{ user.name }}</p>
            <br />
        {% endfor %}
        <br /><br />

    {% else %}
        <h4><b>mkopo</b> is a social group-based lending platform to help <i>individuals</i> live better lives</h4>

        <div style="padding: 20px 80px 60px 100px; ">
        <h5>Get started now</h5>
        <a href="/facebook_login" class="btn btn-small btn-social-facebook">
                            <i class="fui-facebook"></i>
                            Connect with Facebook
                        </a>
        </div>

<div class="row-fluid">
      <div class="pull-right" style="width: 40%; padding: 10px;">
        <img class="landing-icon-small" style="width: 92px" src="../static/images/icons/Girl_2x.png" alt="image">
        <h5>Easily Connect</h5>
        <p>You no longer have to manually search for people looking to loan</p>
      </div>
      <div class="pull-right" style="width: 40%; padding: 10px;">
            <img class="landing-icon-small" style="width: 92px" src="../static/images/icons/Spaceship_2x.png" alt="image">

            <h5>Fastest Loans</h5>
            <p>Get your loan approved fast and pick up your money from one of hundreds of ATMs</p>

      </div>

    </div>




    {% endif %}





    </div>


    </div>
  </div>
</div>



{% include 'footer.html' %}
  </body>
</html>
