<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
{% set page_name = 'View Groups' %}
{% include 'menu.html' %}
{% include 'sidenav.html' %}

<div class="container-fluid" style="min-height: 400px">
  <div class="row-fluid">

    <div class="span10">

    <div class="container">

            <div>
                <h3>View Groups</h3><br />

                {% for group in user.groups %}
                <table class="rwd-table">
                    <tbody>

<!--                         <div class="alert alert-success">
                                    <button type="button" class="close fui-cross" data-dismiss="alert"></button>
                                    <h4>This loan is ready for approval</h3>
                                    <p>Your loan will be reviewed by a local agent and approved or denied (with specifying reasons) within 7 days</p>
                                    <a href="#fakelink" class="btn btn-primary btn-wide"><i class="fui-check-inverted"></i> Submit Loan</a>
                                    <a href="#fakelink" class="btn btn-info btn-wide">Cancel</a>
                                  </div>
 -->                        <tr class="even">
                            <td colspan=5><h4>{{ group.name }} <span class="text-warning">Outstanding</span></h4></td>
                        </tr>
                        <tr class="odd">
                            <td colspan="2">Borrower</td>
                            <td>Repaid/Issued</td>
                            <td width=100></td>
                        </tr>
                        {% for n_user in group.users %}
                        <tr class="odd">
                            <td colspan=2>
                                <img width="30px" class="mrm" src="https://graph.facebook.com/{{ n_user.facebook_id }}/picture" />
                                {% if user.id == n_user.id %}
                                    <button class="btn btn-mini disabled">{{ n_user.name }}</button>
                                {% else %}
                                    <button class="btn btn-mini btn-primary">{{ n_user.name }}</button>
                                {% endif %}
                            </td>

                            {% set user_group = n_user.get_user_group(group) %}

                            <td width=100>${{ user_group[0].repaid_amount }}/${{ user_group[0].loan_amount }}</td>
                            <td width="100">
                            {% if user_group[0].repaid_amount != user_group[0].loan_amount %}
                                <span class="fui-check-inverted" style="opacity:0.2"></span>
                            {% else %}
                                <span class="fui-check-inverted text-primary"></span>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                        <tr class="odd">
                            <td>
                                &nbsp;
                            </td>
                            <td width="250" style="text-align: right">
                                Total&nbsp;
&nbsp;

                            </td>
                            <td width=80>$1025.00/$1550.00</td>
                            <td></td>


                        <tr class="odd">
                            <td colspan=5 align=right>Due Date 12.12.2013</td>
                        </tr>

                    </table>
                    {% endfor %}

            </div>
            <br/>
            <a href="/"class="btn">
                <i class="fui-arrow-left"></i>Back
            </a>
            <a href="/create"class="btn btn-primary pull-right">
                <i class="fui-arrow-right"></i>Create Group
            </a>
            <div style="clear:both"></div>
            <br/>
    </div>


    </div>
  </div>
</div>



{% include 'footer.html' %}
  </body>
</html>
