<div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03">
                </button>
                <a href="#fakelink" class="brand">mkopo</a>
                <div class="nav-collapse collapse" id="nav-collapse-03">
                  <ul class="nav">
                    <li class="active">
                      <a href="#fakelink">
                        Connect
                        <span class="navbar-unread">1</span>
                      </a>
                    </li>
                    <li >
                      <a href="#fakelink">
                        Create Group
                        <span class="navbar-unread">1</span>
                      </a>
                      <ul>
                        <li><a href="#fakelink">Element One</a></li>
                        <li>
                          <a href="#fakelink">Sub menu</a>
                          <ul>
                            <li><a href="#fakelink">Element One</a></li>
                            <li><a href="#fakelink">Element Two</a></li>
                            <li><a href="#fakelink">Element Three</a></li>
                          </ul> <!-- /Sub menu -->
                        </li>
                        <li><a href="#fakelink">Element Three</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                    <li>
                      <a href="#fakelink">
                        Collect Money
                      </a>
                    </li>
                  </ul> <!-- /nav -->

                  <form class="navbar-search form-search pull-left" action="" align="center">
                    <div class="input-append">
                      <input type="text" class="search-query span2" placeholder="Search">
                      <button type="submit" class="btn btn-large">
                        <i class="fui-search"></i>
                      </button>
                    </div>
                  </form>

                  <ul class="nav pull-right">
                    <li class="divider"></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Settings <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#fakelink">Action</a></li>
                        <li><a href="#fakelink">Another action</a></li>
                        <li><a href="#fakelink">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#fakelink">Separated link</a></li>
                      </ul>
                    </li>
                  </ul> <!-- /nav -->
                </div><!--/.nav-collapse -->
              </div>
            </div>
          </div>
