<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
{% set page_name = 'View Groups' %}
{% include 'menu.html' %}
{% include 'sidenav.html' %}

<div class="container-fluid" style="min-height: 400px">
  <div class="row-fluid">

    <div class="span10">

    <div class="container">
    	<h3>Your receipt</h3>
    	<figure>
		    <h2>Your location</h2>
		    <div style="height: 200px;" id="map-user"></div>
		</figure>
    </div>


    </div>
  </div>
</div>

{% include 'footer.html' %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="static/js/custom_maps.js"></script>
  </body>
</html>
