<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
{% set page_name = 'Receipt' %}
{% include 'menu.html' %}
{% include 'sidenav.html' %}

<div class="container-fluid" style="min-height: 400px">
  <div class="row-fluid">

    <div class="span10">

    <div class="container">
    	<h3>Your receipt</h3>
    	<br>
    	<div class="dialog dialog-success" style="border-bottom: 1px solid #CCC">
    		<img class="mrm pull-left" style="width:50px;" src="static/images/icons/Money_2x.png" alt="money_img">
    		<h6>Your group loan has been <span class="text-primary">approved!</span></h6><br /><h7>Please take this receipt to the nearest location shown on the map. You may claim up to<span class="text-primary">$200.00</span></h7>
    	</div>
    	<div style="clear:both"></div>
    	<div style="text-align:center">
    		<img class="pull-left" src="https://chart.googleapis.com/chart?chs=120x120&amp;cht=qr&amp;chl=THISISATEST&amp;choe=UTF-8" alt="QR code">
    		<h4 style="padding-top: 14px;">Your Claim Code:<br>978-3-455-50236-7</h4>
    	</div>
    	<div style="clear:both"></div>
    	<figure class="bottom-menu" style="padding:0px; background-color:white; color:#34495e">

		    <div style="height: 350px;" id="map-user"></div>
		</figure>
		<a href="/"class="btn btn-block">
               <i class="fui-arrow-left"></i>Back
        </a>
        <div style="clear:both"></div>
        <br/>
    </div>


    </div>
  </div>
</div>

{% include 'footer.html' %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="static/js/custom_maps.js"></script>
  </body>
</html>
