<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
{% set page_name = 'Receipt' %}
{% include 'menu.html' %}
{% include 'sidenav.html' %}

<div class="container-fluid" style="min-height: 400px">
  <div class="row-fluid">

    <div class="span10">

    <div class="container">
    	<h3>Your receipt</h3>
    	<br>
    	<div class="dialog dialog-success">
    		<img class="mrm pull-left" style="width:50px;" src="static/images/icons/Money_2x.png" alt="money_img">
    		Your group-loan has been <span class="text-primary">approved</span>. You can borrow <span class="text-primary">200$</span> now. 
    	</div>
    	<div style="clear:both"></div>
    	<div style="text-align:center">
    		<img class="pull-left" src="https://chart.googleapis.com/chart?chs=100x100&amp;cht=qr&amp;chl=THISISATEST&amp;choe=UTF-8" alt="QR code">
    		<p style="padding-top: 31px;font-size: 80%;">Code<br>978-3-455-50236-7</p>
    	</div>
    	<div style="clear:both"></div>
    	<figure class="bottom-menu" style="padding:0px; background-color:white; color:#34495e">
		    <h4 style="padding-left:20px">Your location</h4>
		    <div style="height: 200px;" id="map-user"></div>
		</figure>
		<a href="/"class="btn btn-block">
               <i class="fui-arrow-left"></i>Back
        </a>
        <div style="clear:both"></div>
        <br/>
    </div>


    </div>
  </div>
</div>

{% include 'footer.html' %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="static/js/custom_maps.js"></script>
  </body>
</html>
