<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
{% set page_name = 'Join Groups' %}
{% include 'menu.html' %}
{% include 'sidenav.html' %}

<div class="container-fluid" style="min-height: 400px">
    <div class="span10">
             <div>
                <h3>Join Groups</h3>
                {% for invite_group in user.get_invite_groups() %}
                <div class="alert-success alert invite{{ invite_group.id }}">

                    <h4 style="margin-bottom: 10px">{{ invite_group.subject }}</h4>
                    <div class="pull-left" style="width: 100px">
                        <img width="64px" src="{{ invite_group._from_user.photo_url }}" /><br />
                        <p>{{ invite_group._from_user.name }}</p></div>
                    <p>{{ invite_group.message }}</p>
                    <div>
                        <h6>People in group:</h6>
                        {% for _user in invite_group._group.users %}
                            {% if _user != user %}
                                <button class="btn btn-mini pull-left" style="margin: 4px">{{ _user.name }}</button>
                            {% endif %}
                        {% endfor %}
                        <div style="clear:both"></div>
                    </div>
                    <div style="margin-bottom: 20px">
                        To loan money this group still needs to loan <span class="text-primary">${{invite_group.remaining}}</span> more, you current cap is <span class="text-danger">500$</span>.
                    </div>
                        <button class="btn btn-primary pull-right"><span class="fui-check-inverted"></span>Accept Invitation</button>
                        <button data-dismiss="alert" class="btn btn-danger pull-left"><span class="fui-cross-inverted"></span>Reject Invitation</button>
                        <div style="clear:both"></div>


                </div>
                <br />
                {% endfor %}

            </div>

    </div>


    </div>
  </div>
</div>



{% include 'footer.html' %}
  </body>
</html>
